click
librosa<0.10.0
matplotlib
numpy~=1.26.4
PyYAML
tqdm
textgrid~=1.5
pandas

onnx
onnxsim
onnxscript

# The default CUDA version for onnxruntime-gpu in pypi is 12.x since 1.19.0.
# https://onnxruntime.ai/docs/install/#install-onnx-runtime-gpu-cuda-12x
# https://onnxruntime.ai/docs/execution-providers/CUDA-ExecutionProvider.html#requirements
onnxruntime-gpu==1.19.0